.main {
    padding: var(--header-height) 0 80px;
    background: var(--color-gray);
    min-height: 100vh;
}

.header {
    margin-bottom: 40px;
}

.count {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-text-light);
    font-weight: 500;
}

.layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: flex-start;
}

@media (max-width: 991px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: static;
    }
}

.content {
    flex: 1;
}